html{
	background-color: #27ae60;
}

body {
	background-color: #ffffff;
	height:100%;
	 margin:0;
}

.top{
	height:440px;
	background-color: #27ae60;
}

.top-contain {	
	background-color: #27ae60;
	margin-right:auto;
	margin-left:auto;
	width:100%;
	height:350px;	
	overflow:hidden;	
}

/*登陆注册按钮*/
.header-login {
	width:60%;
	margin-left:auto;
	margin-right:auto;
	height:20px;
	padding-top:20px;
}

.top-table {
	width:200px;
	height:20px;
	float:right;
}

.top-table ul{
	list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}

.top-table ul li
{
	padding:0 7px;
    float:right; /* 向右漂移，将竖排变为横排 */
}

.top-table-font {
	color: #eee;
	font-size:16px;
	text-decoration:none;
	font-weight:normal;
	
}

.top-table-font:hover {
	color: #ffffff;
	text-decoration:none;
	font-weight:normal;
}

/*登陆注册按钮结束*/

/*网站标题*/

.header-title {
	width:50%;
	height:210px;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
	
}

.header-title h1  {
	text-align:center;
	margin-top:10px;
	font-family: 'YouYuan';
	font-size:3.5em;
	text-decoration:none;
	color:#ffffff;
	text-shadow: -4px 4px 0 rgba(0,0,0,.1);
	

}

.header-title h2  {
	text-align:center;
	margin-top:10px;
	font-family: 'YouYuan';
	font-size:3em;
	text-decoration:none;
	color:#ffffff;	
	
}

.header-title a {
	display:block;
	margin-left:auto;
	margin-rignt:auto;
	text-align:center;
	margin-top:15px;
	font-family: 'Microsoft YaHei';
	font-size:14px;
	text-decoration:none;
	color:#eee;	
	font-weight:normal;
}

.header-title a:hover {
	text-decoration:none;
	color:#eee;

	}

/*网站标题结束*/

/*搜索框开始*/
.search-wraper {
     max-width:780px;
     margin-top:20px;
     margin-bottom:20px;
}

.form-group{
	margin-bottom:15px;
	box-sizing:border-box;
	display:block;
}

.input-group {
	margin-left:auto;
	margin-right:auto;
	width:60%;
	padding:0;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	background-color:#fff;
	text-align:center;
    font-size:16px;
}

.search{
	box-shadow:none;
	font-size:18px;
	padding:11px 28px;
	margin-top:1px;
	margin-left:2px;
	height:auto;
	border-radius:0;
	border:transparent;
}

.search:focus{
	-webkit-box-shadow:none;
	box-shadow:none;
	border-color:transparent;
	outline:none;
}

.input-group .form-control {
    border:transparent;
    margin-top:8px;
    text-align:center;
    font-size:16px;
    background:transparent;
    -webkit-box-shadow: 0; 
    box-shadow:none; 	
}

.form-control:focus {
    border-color:transparent;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

.input-group .col-md-3:focus{
	border-color:#ccc;
	outline:none;
}

.input-group-btn{
	width:38.89px;
	height:49.51px;
	padding:0;
	
}

.input-group-btn:active{
	background:transparent;
}

.btn-info{
	color:#333;
	font-size:26px;
	background:transparent;
	border:transparent;
}

.btn-info:hover{
	color:#ccc;
	outline:none;
	background:transparent;
	border-color:transparent;
	
}

.btn-info:checked{
	color:#333;
	outline:none;
	background:transparent;
	border-color:transparent;
	
}

.btn-info:focus{
	color:#ccc;
	outline:none;
	background:transparent;	
	border-color:transparent;
}

.btn-info:active{
	color:#ccc;
	outline:none;
	background-color:transparent;	
	border-color:transparent;
}

.btn-info:active:focus{
	outline:none;
	color:#333;
	background-color:transparent;
	border-color:transparent;
}

.btn:active{
	-webkit-box-shadow:none;
	box-shadow:none;
}

.login-check{
	margin-top:-40px;
	margin-right:20px;
	font-size:16px;
	display:block;
	float:right;
	height:auto;	
}

.container1-1{
	margin-right:auto;
	margin-left:auto;
	width:100%;	
	height:70px;
	margin-bottom:5px;
}
/*搜索框结束*/

/*导航开始*/
.contain2{
	margin-right:auto;
	margin-left:auto;
	background:#f5f5f5;
	width:100%;
	height:50px;
}

.menu {
	margin-left:auto;
	margin-right:auto;
	background: transparent;	
	width:60%;
	height:100%;
	font-style:normal;
	overflow:hidden;
	
}

.menu ul{
	margin:0;
	padding:0;
	list-style-type: none;
}

.menu ul li{
	background:#f5f5f5;
	padding:0;
	width:20%;
	height:100%;
	display:inline;
	float:left;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	overflow:hidden;
	
}

.menu ul li:hover{
	background:#dddddd;	
}

.menu ul li.active{
	background:#dddddd;	
}

.menu ul li a{
	line-height:50px;
	height:100%;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family: 'STXingkai';
	font-size:1.7em;
	color:#605f65;
	font-weight:normal;	
}


/*导航结束*/

/*江华图文介绍*/
.contain3{
	margin-top:50px;
	margin-right:auto;
	margin-left:auto;
	padding:20px 20px;
	width:60%;
	height:480px;
	border-left:1px solid #ecf0f1;
	border-right:1px solid #ecf0f1;
	border-top:1px solid #ecf0f1;
	overflow-y:auto; 
	overflow-x:auto;
}

.images{
	float:left;
	width:64%;
	height:420px;
	
}

.words{
	float:right;
	width:34%;
	height:420px;
	
}

.words p{
	font-size:15px;
	font-family: 'Microsoft YaHei';
}
/*江华图文介绍结束*/

/*江华瑶药介绍*/
.contain4{
	padding:30px 20px;
	margin-right:auto;
	margin-left:auto;
	border-left:1px solid #ecf0f1;
	border-right:1px solid #ecf0f1;
	border-bottom:1px solid #ecf0f1;
	width:60%;
	height:700px;
	
}

.row1{	
	height:320px;
	padding-top:20px;
	border-top:1px solid #ecf0f1;	
}

.box1{
	
	width:32%;
	height:300px;
	float:left;	
	
	padding-left:10px;
	margin: 5px;
	box-sizing:border-box;
	text-align:center;	
	cursor: pointer;
	
	width:32%;
	height:100%;
	float:left;
	padding-top:30px;
	
	
}

.punchbox1{
	padding:50px 40px 150px;
	color:#605f65;
	text-align:left;
	line-height:1;
	display:block;
}

.punchline1 span:nth-of-type(1){
	padding-left:4px;
	font-size:1.2em;
	display:block;
}

.punchline1 span:nth-of-type(2){
	font-size:1.3em;
	margin-top:16px;
	color:#c32136;
	display:block;
	font-family: 'STXingkai';
}

.box2{
	width:31%;
	height:300px;
	float:left;	
	background-color:rgba(221, 221, 221, 1) ;
	padding-left:10px;
	margin: 5px;
	box-sizing:border-box;
	text-align:center;	
	cursor: pointer;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	overflow-y:auto; 
	overflow-x:auto;
}

.box2:hover{
	background-color: #dff0d8;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}



.punchbox2{
	padding:20px;
	color:#605f65;
	text-align:left;
	line-height:1;
	display:block;
	
	/*background-color:rgba(221, 221, 221, 1) ;*/
	/*border-radius:5px;*/
}

.punchbox2 h4{
	font-size:20px;
	font-weight:bold;
	display:block;
	
	
}

.punchbox2 p{
	font-size:1.3em;
	display:block;
	margin-top:15px;
	font-family:'STXingkai'; 

}

.row2{
	height:300px;
	margin:5px 0;
}
/*江华瑶药介绍*/
/*植物图片展示开始*/
.main-contain{
	margin:0 -15px ;
	height:930px;	
	background-color:#fff;
	padding:70px 0;
}

.contain5 {	
	margin-right:auto;
	margin-left:auto;	
	width:60%;
	height:830px;
	border:1px solid #ecf0f1;
	padding:0 20px;
	overflow-y:auto; 
	overflow-x:auto;
	}

.show-title{
	position:relative;
	height:88px;
	margin-top:40px;
	border-top:1px solid #ecf0f1;
	margin:0;
	padding:0;
	display:block;
}

.show-title h3{
	font-size:30px;
	line-height:88px;
	color:#605f65;
	font-weight:normal;
	padding-left:10px;
	margin:0;
	font-family：'Microsoft YaHei';
	
}

.more{
	position:absolute;
	right:0;
	top:28px;
	width:80px;
	height:28px;
	border-radius:3px;
	line-height:28px;
	text-align:center;
	margin-right:15px;
	color:#605f65;
	text-decoration:none;
	font-size:14px;
	font-weight:normal;
	background-color: #dff0d8;
	-moz-transition: background 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;	
}

.more:hover{
	background-color:#27ae60;
	text-decoration:none;
	color:#fff;
}

.show-list{	
	list-style:none;	
	padding:0;
	font-size:100%;
}

.show-item{	
	margin-bottom:20px;
	height:340px;
	position:relative;
	top:0;
	float:left;
	width:323px;	
	margin-right:20px;
	border:1px solid #dedfe0;
	background-color:#fefefc;
	box-sizing:border-box;
	transition:top 0.2s;
	padding:0;
	margin-left:10px;
	margin-right:10px;
	font-size:100%;
	font-weight:normal;
	font-family: Consolas ;
	color:#605f65;
}

.show-item:hover{
	top:-3px;
	box-shadow:0 2px 4px rgba(0,0,0,.3);
}

.show-info{
	padding-left:12px;
	margin:0;
	padding-top:8px;
	font-size:18px;	
	text-align:-webkit-match-parent;
}

.show-name{
	font-family: 'Consolas';
	margin-top:10px;	
	color:#605f65;
	display:block;
	text-decoration:none;
	cursor:pointer;
	font-size:18px;
	font-weight:normal;
}


.show-name:hover{
	font-style:normal;	
	color:#473231;
	text-decoration:none;
}


.show-name-p{
	line-height:35px;
	color:#888;
	font-size:16px;
}
/*植物图片展示结束*/

/*编辑页面开始*/
.edit-main-contain{
	height:900px;
	width:100%;
	background-color:#fff;	
	padding:0;
}

.add-contain{
	margin-left:auto;
	margin-right:auto;
	width:61.5%;
}


main{
	margin-top:10px;
}


main .search-box{
	height:30px;
}

main .input-group{
	margin:20px 30px;
}
main ul{
	width:1040px;
	margin:0 auto;
	padding-left: 0;
	list-style: none;
	
}
main ul li{

	display:inline-block;
}
main ul li .add{
	
    float:left;
	margin:30px 20px 0px 20px;
	padding:5px;
	width:300px;
	height:250px;
	border:4px solid silver;
	border-radius:8px;
	text-align:center;	
}

main ul li .add >a{

	font-size:36px;
	color:#31a8e6;
	line-height:230px;
}
main ul li .add:hover{
	border:4px solid gray;
}
main ul li img{
	margin:30px 20px 0px 20px;
	padding:5px;
	width:300px;
	height:250px;
	border:4px solid silver;
	border-radius:8px;
}
main ul li img:hover{
	border:4px solid gray;
}
main ul li p{
	text-align:center;
	line-height:50px;
}
main ul li p span.price{
	margin:0 20px;
}

main ul li p a.add-order:hover{
	border:2px solid #3190e6;
	color:#3190e6;
}

/* 文件上传*/
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}
.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}

/*错误输出*/
.fielderror{
	margin-left:30px;
	color:red;
	font-size:1em;
}
main h3{
	text-align:center;
}

main table{
	
	margin:0 auto;
	border:1px solid #31a8e6;
	width:500px;
	
}
main table th{
	
	height:50px;
	
}
main table td{
	
	text-align:center;
	height:40px;
}
/*编辑页面结束*/



/*脚本开始*/
.footer{
	color:#fff;
	
}

.footer-contain{
	margin:0;
	width:100%;
	height:230px;
	
	background-color: #27ae60;
	
}

.footer-link{
	width:60%;
	padding:50px 0;
	margin-left:auto;
	margin-right:auto;
	height:auto;	
	
}

.footer-code{
	width:50%;
	height:100%;
	display:block;
	float:left;
	
	border-right:1px solid #fff;
	
}

.code{
	padding-right:20%;
	float:right;
}

.footer-code p{
	margin-top:10px;
	
}

.footer-linkweb{
	width:50%;
	height:150px;
	display:block;
	float:right;
	padding-left:100px;
	overflow-y:auto; 
	overflow-x:auto;
	
}

.footer-list {	
	list-style:none;
	margin:0;
	padding:0;
}

.footer-list li a{
	color:#eee;
	font-weight:normal;
}

.footer-list li a:hover{
	color:#fff;
	font-weight:normal;
}

.footer-copyright{
	background-color: #27ae60;
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	
	
}

.footer-copyright-p{
	width:40%;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	
}


p{
	text-align:center;
	line-height:30px;
	
}


/*脚本结束*/


/*查询页面*/
.query-contain{
	padding:70px 0;
	height:auto;
	width:65%;
	margin-left:auto;
	margin-right:auto;
}

.panel-info1 > .panel-heading1 {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3c763d;
    border-color: #d6e9c6;
}

.panel-heading1 {
	
    padding: 10px 15px;
    border: 1px solid #d6e9c6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


/*编辑页面*/
.edit-contain{
	width:60%;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	height:1000px;
	overflow-x:auto;
	max-height:750px;
}


.edit-menu{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	padding: 0;
	height:40px;
	margin-bottom:20px;
}

.edit-menu ul {
	list-style: none;
	
}

.normal{
	width:25%;
	height:40px;
	background-color:#dff0d8;
	float:left;
	margin-right:20px;
	border:1px solid  #27ae60;
	line-height:40px;
	font-weight:normal;
	font-size:1.7em;
	font-family:'STXingkai';
	text-align:center;
	text-decoration:none;
	overflow:hidden;
}

.active1{
	background-color: #27ae60;
	width:25%;
	height:40px;
	color:#eee;
	float:left;
	margin-right:20px;
	border:1px solid  #27ae60;
	line-height:40px;
	font-weight:normal;
	font-size:1.7em;
	font-family:'STXingkai';
	text-align:center;
	text-decoration:none;
		overflow:hidden;
}

.active1:hover{
	color:#fff;
	text-decoration:none;
	
}

.add{
	font-weight:normal;
}

.add:hover{
	text-decoration:none;
	color:#473231;
	font-weight:normal;
}

.edit{
	color:#fff;
	font-weight:normal;
}

.edit-button{
	color:#473231;
	font-weight:normal;
}
.edit-button:hover{
	color:#473231;
	font-weight:normal;
}

.edit:hover{
	text-decoration:none;
	color:#fff;
	font-weight:normal;
}

.delete{
	font-weight:normal;
}

.delete:hover{
	text-decoration:none;
	color:#473231;
}

/*联系我们页面*/
.aboutus-contain{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	
	height:800px;
}

.login-contain-layer1{
	width:100%;
	height:50%;
	margin-top:150px;	
	background-color:#27ae60
}

.login-contain-layer2{
	width:20%;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	
	background-color:#fff;
}

.detail-contain{
	width:100%;
	background-color:#fff;
	height:1000px;
	padding:30px 0;
}

.detail-layer1{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	height:940px;
	border: 1px solid #ecf0f1;
}

.left-layer{
	width:35%;
	float:left;
	height:100%;
	border-right: 1px solid #ecf0f1;	
	
}

.detail-images{
	width:100%;
	float:left;
	padding:15px;
	height:40%;
	border-bottom: 1px solid #ecf0f1;
}

.shuxing{
	width:100%;
	height:60%;
}

.shuxing-layer1{
	float:left;
	width:25%;
	height:100%;
	border-right: 1px solid #ecf0f1;
}

.shuxing-layer2{
	border-bottom: 1px solid #ecf0f1;
	height:20%;
	width:100%;
}

.xinxi{
	float:right;
	width:75%;
	height:100%;
}

.detail-xinxi{
	border-bottom: 1px solid #ecf0f1;
	height:20%;
	width:100%;
	padding-top:15px;
	text-align:center;
	overflow-y:auto; 
	overflow-x:auto;
}

.shuxing-layer3{
	text-align:center;
	width:100%;
	height:30%;
	margin-left:auto;
	margin-right:auto;
	padding-top:50px; 
}

.right-layer{
	width:65%;
	height:100%;
	float:right;
}

.right-layer2{
	height:100%;
	width:15%;
	border-right: 1px solid #ecf0f1;
	float:left;
}

.right-layer3{
	height:20%;
	width:100%;
	border-bottom: 1px solid #ecf0f1;
	
}

.right-layer4{
	text-align:center;
	width:100%;
	height:30%;
	margin-left:auto;
	margin-right:auto;
	padding-top:80px; 
}

.right-layer5{
	height:100%;
	width:85%;
	float:right;
}

.right-layer6{
	text-align:center;
	padding-top:70px;
	height:20%;
	width:100%;
	border-bottom: 1px solid #ecf0f1;
	overflow-y:auto; 
	overflow-x:auto; 
}